# Logs
logs/
*.log

# dotenv environment variables file
.env

# datasets
data/

# Node
node_modules/

# Composer
vendor/

# Cache результатов PHPUnit
.phpunit.result.cache

# IntelliJ project files
.idea/

# Generates
security/
assets/public/
upload/

# Graphify
graphify-out/*
!graphify-out/graph.json
!graphify-out/GRAPH_REPORT.md
!graphify-out/graph.html
!graphify-out/.graphify_analysis.json
!graphify-out/manifest.json
!graphify-out/.graphify_labels.json